body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.cont {
    background-color: #1b5589;
    width: auto;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.man-comp {
    height: 50px;
    margin-left: 3%;
}

.flex-list {
    display: flex;
    align-items: center;
    margin-left: 3%;
}

.cont span {
    display: inline-block;
    padding-left: 2%;
    padding-left: 7%;
    margin-left: 1%;
}
.cont span:nth-child(2) a {
    color: #fff;
}

.cont span a {
    text-decoration: none;
    color: #7593aa;
}
.cont span:hover a {
    color: #fff;
}

.wmn-64 {
    height: 50px;
    padding-right: 4%;
}

.main-title {
    font-size: 30px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.line {
    border-top: 1px solid #e9e9e9;
    width: 90%;
    margin-left: 5%;
}

.main-brdr {
    border: 1px solid #ebebeb;
}

.col-4 img {
    margin-top: 5%;
    margin-bottom: 5%;
}

.title-text {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3%;
}
.title-text2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 3%;
}

.gray-smll_text {
    color: #818181;
    font-size: 12px;
    margin-left: 58%;
    margin-top: 3%;
}
.gray-smll_text2 {
    margin-left: 42%;
    color: #818181;
    font-size: 12px;
    margin-top: 3%;
}
.gray-smll_text3 {
    margin-left: 28%;
    color: #818181;
    font-size: 12px;
    margin-top: 3%;
}

.main-text {
    color: #515151;
    font-size: 15px;
    margin-top: 2%;
    max-width: 85%;
}
.main-text2 {
    color: #515151;
    font-size: 15px;
    margin-top: 2%;
    max-width: 85%;
    margin-left: 3%;
}

.flex-cont {
    display: flex;
    align-items: center;
}

.brdr-left{
    border: 1px solid #ebebeb;
    border-right: none;
    margin-left: 16%;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 7px;
}
.trngl-left {
    display: inline-block;
    margin-left: -12px;
    border-top: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    width: 21.5px;
    height: 21.5px;
    transform: rotate(45deg)
}

.numb-bold {
    font-weight: bold;
    font-size: 20px;
    margin-left: 25px;
}

.flex-cont img {
    margin-right: 25px;
    width: 35px;
}

.brdr-right {
    border: 1px solid #ebebeb;
    border-left: none;
    margin-left: -12px;
    margin-bottom: 2%;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 7px;
}
.trngl-right {
    display: inline-block;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    width: 21.5px;
    height: 21.5px;
    transform: rotate(45deg)
}

.txt-smll_rght {
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 9px;
    padding-left: 2px;
}
.txt-smll_lft {
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 2px;
    padding-left: 9px;
}

.gray-btn {
    background-color: #6c757d;
    border: none;
    border-radius: 5px;
    width: 96%;
    height: 35px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 3%;
}
.gray-btn:hover {
    cursor: pointer;
    background-color: #a8b4bf;
}

.white-btn {
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    width: 96%;
    height: 35px;
    text-align: center;
    color: #000;
    font-size: 16px;
    margin-top: 3%;
}
.white-btn:hover {
    cursor: pointer;
    background-color: #d0deed;
}
